<ion-content class="ion-no-padding">
  <ion-slides #slidesPrincipal>
    <!-- Portada -->
    <ion-slide class="full-slide">
      <ion-fab vertical="center" horizontal="end" slot="fixed">
        <ion-fab-button color="medium">
          <ion-icon name="share"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button (click)="moveSlideNext()">
            <ion-icon name="contact"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
        <ion-fab-list side="bottom">
          <ion-fab-button (click)="showLogup()">
            <ion-icon name="at"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
    </ion-slide>

    <!-- Login -->
    <ion-slide>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="goSlideHome()" color="danger">
          <ion-icon name="home"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-img src="https://cdn.stocksnap.io/img-thumbs/960w/C6YGDZ1DSW.jpg" alt="avatar"></ion-img>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <form (ngSubmit)="login(formLogin)" #formLogin="ngForm">
              <ion-row>
                <ion-col size="2">
                  <ion-icon name="person" class="icon-contents"></ion-icon>
                </ion-col>
                <ion-col size="10">
                  <ion-item>
                    <ion-label position="floating">Usuario<ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input type="text" [(ngModel)]="loginUser.name" name="name" pattern="[a-zA-Z]{3,}" required>
                    </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <ion-button type="submit" color="tertiary" shape="round" [disabled]="!formLogin.valid">
                    Login
                    <ion-icon slot="end" name="appstore"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </form>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>

    <!-- Registro -->
    <ion-slide>
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="goSlideHome()" color="danger">
          <ion-icon name="home"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-grid fixed>
        <form (ngSubmit)="logup(formLogup)" #formLogup="ngForm">
          <ion-row>
            <ion-col size="12">
              <h3>Seleccione Avatar</h3>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-slides #slidesAvatar>
                <ion-slide *ngFor="let avatar of avatars">
                  <ion-img src="/assets/avatars/{{avatar.img}}"></ion-img>
                </ion-slide>
              </ion-slides>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-list>
                <ion-item>
                  <ion-label position="floating">Nombre</ion-label>
                  <ion-input name="name" type="text" pattern="[a-zA-Z]{3,}" [(ngModel)]="logupUser.name" required>
                  </ion-input>
                </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size=" 12">
              <ion-button type="submit" color="tertiary" [disabled]="!formLogup.valid">
                <ion-icon slot="start" name="add"></ion-icon>
                Crear Usuario
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>