<app-header [titulo]="titulo"></app-header>

<ion-content style="position: relative;">
  <ion-searchbar (ionInput)="searchInput($event)" #searchbar></ion-searchbar>

  <ion-slides class="moveTop" scrollbar=true #slidesCategory (ionSlideDidChange)="categoryChanged()">
    <ion-slide *ngFor="let category of categories">
      <img [src]="category.image" alt="Image Category">
    </ion-slide>
  </ion-slides>

  <app-subcategories style="position: relative; top: -40px;" [idCategory]="idCategory"
    (slideCategory)="slideLock($event)">
  </app-subcategories>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button color="tertiary" size="small" (click)="addProduct()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>