<ion-header no-border>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      {{item.product}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Card Current -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Adicionando</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-avatar slot="start" *ngIf="bestItem === currentBuy">
          <img [src]='imageBest'>
        </ion-avatar>
        <ion-label>
          <h2>Precio: ${{currentBuy.price}}</h2>
          <p *ngIf="currentBuy.gramaje !== ''">Gramaje: {{currentBuy.gramaje}} g ó lt</p>
          <p *ngIf="currentBuy.unit !== ''">Unidades: {{currentBuy.unit}} und</p>
        </ion-label>
        <ion-note>
          <p>{{currentBuy.ratio | number}} $/g</p>
        </ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- Card Best -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mejor</ion-card-title>
      <ion-card-subtitle>{{bestBuy.date | date }} - <span><i><b>{{bestBuy.store}}</b></i></span></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-avatar slot="start" *ngIf="bestItem === bestBuy">
          <img [src]='imageBest'>
        </ion-avatar>
        <ion-label>
          <h2>Precio: ${{bestBuy.price}}</h2>
          <p *ngIf="bestBuy.gramaje !== ''">Gramaje: {{bestBuy.gramaje}} g ó lt</p>
          <p *ngIf="bestBuy.unit !== ''">Unidades: {{bestBuy.gramaje}} g ó lt</p>
        </ion-label>
        <ion-note>
          <p>{{bestBuy.ratio |number}} $/g</p>
        </ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!-- Card Last -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Último</ion-card-title>
      <ion-card-subtitle>{{lastBuy.date | date }} - <span><i><b>{{lastBuy.store}}</b></i></span>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-avatar slot="start" *ngIf="bestItem === lastBuy">
          <img [src]='imageBest'>
        </ion-avatar>
        <ion-label>
          <h2>Precio: ${{lastBuy.price}}</h2>
          <p *ngIf="lastBuy.gramaje !== ''">Gramaje: {{lastBuy.gramaje}} g ó lt</p>
          <p *ngIf="lastBuy.unit !== ''">Unidades: {{lastBuy.gramaje}} g ó lt</p>
        </ion-label>
        <ion-note>
          <p>{{lastBuy.ratio |number}} $/g</p>
        </ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="insertQuantity()">
    <ion-icon slot="icon-only" name="cart"></ion-icon>
  </ion-button>
</ion-content>