<div class="post">

  <ion-item-group *ngIf="!market.state">
    <ion-item-divider>
      <ion-label>{{market.created | date:"dd MMMM yyyy"}}</ion-label>
    </ion-item-divider>

    <ion-item-group *ngFor="let item of market.products">
      <ion-item>
        <ion-button fill="clear" (click)="deleteProduct(item._id)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
        <ion-label>{{item.product}}</ion-label>
        <ion-badge slot="end">{{item.quantity}}</ion-badge>
      </ion-item>
    </ion-item-group>

  </ion-item-group>

  <app-empty *ngIf="market.state"></app-empty>

</div>