<app-header [titulo]="titulo"></app-header>

<ion-content class="ion-padding">
  <!-- Refresher -->

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="bubbles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <app-headinguser [user]="user"></app-headinguser>

  <app-markets [markets]="markets" [isRequest]="isRequest"></app-markets>

  <!-- Infinite Scroll -->
  <!-- <ion-infinite-scroll threshold="25%" (ionInfinite)="loadData($event)" [disabled]="!enabled">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>