<ion-slides #slidesSubcategory (ionSlideDidChange)="slideSubChanged()">
  <!-- slide show SUBCATEGORIES-->
  <ion-slide>
    <ion-list style="width: 100%;">
      <ion-item *ngFor="let item of subcategories; let i=index" detail>
        <!-- <ion-skeleton-text animated [ngStyle]="{'width':skeleton[i]}" *ngIf="loading"></ion-skeleton-text> -->
        <ion-label (click)="buttonClick(item._id)">{{item.subcategory}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-slide>

  <!-- slide hidden PRODUCTS -->

  <ion-slide>
    <app-products [idSubcategory]="idSubcategory"></app-products>
  </ion-slide>


</ion-slides>